.git
.github
.playwright-cli
.DS_Store
.env
.env.*
!.env.example
**/.next
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/node_modules
**/playwright-report
**/target
**/test-results
*.db
output
